.amenities-top > h3 {
  color: #414141;
  font-weight: 500;
  font-size: 35px;
  text-align: center;
  word-spacing: 3px;
  margin: 70px 0 30px 0;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 85vh;
  /* object-fit: scale-down; */
}
@media (max-width: 850px) {
  .amenities-top > h3 {
    font-weight: 600;
    font-size: 30px;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 50vh;
  }
}
@media (max-width: 600px) {
  .swiper-slide img {
    height: auto;
  }
}