.about-header{
    background-image: url('/public/AboutPhotos/AboutHeader/header.webp');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40ch;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.about-header p{
    margin-left: 5vw;    
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 2px;
    color: #161616;
}
@media (max-width:850px) {
.about-header{
    margin-top: 92px;
}
.about-header p{
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 1px;

}
.about-header{
    height: 30ch;

}
    
}