.contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("/public/ContactPhotos/Contact.jpg");
  height: 100%;
  padding-bottom: 5vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
  padding-left: 15vw;
}
.contact > h3 {
  padding-top: 4vw;
  color: #fff;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 1px;
}
.contact-container {
  display: flex;
  justify-content: center;
  gap: 4vw;
  margin-top: 5vw;

}
.conatct-form > label {
  padding-top: 0.5vw;
  font-size: 12px;
}
.conatct-form > input,
.conatct-form > textarea {
  width: 30vw;
  border-radius: 5px;
  border: none;
  padding: 5px 8px;
}
.conatct-form > input[type="submit"] {
  width: 7vw;
  margin-top: 0.5vw;
  background-color: rgba(6, 106, 171, 1);
  color: #fff;
  cursor: pointer;
}
.conatct-form > input:focus {
  outline: none;
}
.contact-form-container > form {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}
.contact-map {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}
.contact-map-bottom > p {
  color: #fff;
  font-size: 13px;
}
.country-input {
  border-radius: 5px;
  border: transparent;
  padding: 5px 8px;
  background-color: rgb(255, 254, 254);
  color: #fff;
  cursor: pointer;
}
.country-input > input {
  border: none;
}
.country-input > input:focus {
  outline: none;
}
@media (max-width: 1100px) {
  .contact {
    padding-left: 10vw;
  }
  .contact-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .conatct-form > input,
  .conatct-form > textarea {
    width: 80vw;
  }
  .conatct-form > input[type="submit"] {
    width: 70px;
  }
  .contact-map> iframe {
    width: 80vw;
  }
}
@media (max-width: 850px) {
  .contact {
    display: grid;
    justify-items: center;
    padding-left: 0vw;
  }
  .contact > h3 {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    margin-top: 40px;

  }
  .contact {
    margin-top: 80px;
  }
}
@media (max-width: 650px) {
  .contact-map> iframe {
    padding: 0 9vw;
    width: 100%;
  }
  .contact-map-bottom {
    padding: 10px 0;
  }  
.contact-map-bottom > p {
  padding: 0px 9vw;
}
}