.residenceheader {
  background-image: url("/public/AboutPhotos/AboutHeader/header.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 55ch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.residenceheader > p {
  margin-left: 5vw;
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 2px;
  color: #161616;
}
@media (max-width: 850px) {
  .residenceheader {
    margin-top: 92px;
  }
  .residenceheader p {
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 1px;
  }
  .residenceheader {
    height: 30ch;
  }
}
@media (max-width: 650px) {
  .residenceheader {
    height: 20ch;
  }

}
